
<footer>
    <ul>
        <li routerLink="/home" routerLinkActive="active">
          <i class="iconfont icon-icon"></i>
          <p>首页</p>
        </li>
        <li routerLink="/classify" routerLinkActive="active">
          <i class="iconfont icon-fenlei"></i>
          <p>分类</p>
        </li>
        <li routerLink="/shopping" routerLinkActive="active">
          <i class="iconfont icon-gouwudai"></i>
          <p>购物车</p>
        </li>
        <li routerLink="/personal" routerLinkActive="active">
          <i class="iconfont icon-xiazai"></i>
          <p>个人中心</p>
        </li>
      </ul>
</footer>