<app-navbar>
    <i class="iconfont icon-gengduo" (click)="isHidden=!isHidden"></i>
</app-navbar>

<app-sidebar [hidden]="isHidden" class="sidebar">
        <ul (click)="isHidden=!isHidden">
            <li routerLink="">
                    <i class="iconfont icon-dingdan"></i>
                    <p>锤子科技商城</p>
            </li>
            <li routerLink="">
                    <i class="iconfont icon-dingdan"></i>
                    <p>坚果Pro 2S</p>
            </li>
            <li routerLink="">
                    <i class="iconfont icon-dingdan"></i>
                    <p>坚果 R1</p>
            </li>
            <li routerLink="">
                    <i class="iconfont icon-dingdan"></i>
                    <p>坚果 TNT 工作站</p>
            </li>
            <li routerLink="">
                    <i class="iconfont icon-dingdan"></i>
                    <p>坚果3</p>
            </li>
            <li routerLink="">
                    <i class="iconfont icon-dingdan"></i>
                    <p>坚果Pro 2S</p>
            </li>
            <li routerLink="">
                    <i class="iconfont icon-dingdan"></i>
                    <p>坚果 Pro2</p>
            </li>
            <li routerLink="">
                    <i class="iconfont icon-dingdan"></i>
                    <p>8号商务旅行箱</p>
            </li>
            <li routerLink="">
                    <i class="iconfont icon-dingdan"></i>
                    <p>8号旅行箱</p>
            </li>
            <li routerLink="">
                    <i class="iconfont icon-dingdan"></i>
                    <p>支持</p>
            </li>
            <li routerLink="">
                    <i class="iconfont icon-dingdan"></i>
                    <p>论坛</p>
            </li>
            <li routerLink="">
                    <i class="iconfont icon-dingdan"></i>
                    <p>服务支持</p>
            </li>
        </ul>
</app-sidebar>


<!-- 路由容器 -->
<router-outlet></router-outlet>

<app-footerbar></app-footerbar>
